* {
    font-family: cursive;
}

body {
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 42%;
    margin: -70px 0 0 -170px;

}

div {
    padding-bottom: 5px;
}

div p {
    padding-left: 40px;
}

thead tr {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

th {
    padding: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td {
    padding: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

#iTable {
    position: fixed;
    margin-left: 300px;
    margin-top: -170px;
}

#mTable {
    position: fixed;
    margin-left: 300px;
    margin-top: -140px;
}

#bButton {
    margin-left: 47px;
}

#iButton {
    margin-left: 67px;
}

#mButton {
    margin-left: 75px;
}


#box {
    height: 350px;
	width: 600px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: #45ADA8;
	position: relative;
	padding-left: 20px;
}

#calcHead {
    padding-left: 50px;
}

.output {
    font-weight: bold;
    color: #F00000;
}
