* {
    font-family: cursive;
}

body {
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 42%;
    margin: -70px 0 0 -170px;

}

div {
    padding-bottom: 5px;
}

div p {
    padding-left: 40px;
}

table {
    position: fixed;
    margin-left: 300px;
    margin-top: -140px;
}

button {
    margin-left: 45px;
}

#box {
    height: 350px;
	width: 600px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: #45ADA8;
	position: relative;
	padding-left: 20px;
}

#calcHead {
    padding-left: 50px;
}

.output {
    font-weight: bold;
    color: #F00000;
}
